/*  your css code here. If applicable */
.container {
	border: 3px solid black;
	background-color: lightgray;
	border-radius: 30px;
	padding: 20px;
	height: 100px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.green {
	height: 60px;
	width: 60px;
	background-color: green;
	border-radius: 30px;
	margin: 20px;
}
.yellow {
	height: 60px;
	width: 60px;
	background-color: yellow;
	border-radius: 30px;
	margin: 20px;
}
.red {
	height: 60px;
	width: 60px;
	background-color: red;
	border-radius: 30px;
	margin: 20px;
}